﻿@using ERP.DAL.Model
@using ERP.INFRASTRUCTURE
@using ERP.REPOSITORIES.Helper
@model  PartialInvoiceInfo

@{
    Layout = "";
    ViewBag.Title = "Billing Module";
    string controllerName = ViewBag.ControllerName;
}
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />

<link href="~/Content/css/Table.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .item-image {
        height: 200px;
        width: 99%;
        margin: auto;
        /*max-width: 280px;*/
    }

    .item-button {
        position: absolute;
        top: 5px;
        right: 5px;
        visibility: hidden;
    }

    .item-input {
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 10px;
    }

    .topcorner {
        top: 10px;
        right: 30px;
        max-height: 90%;
        position: fixed;
    }

    /*.col-md-3 {
        width: 25%;
        float: left;
        margin: 5px;
    }*/

    .item-border {
        border: 2px solid #5fb2ca;
        border-radius: 5px;
        margin-bottom: 12px;
        margin-left: 5px;
    }

    .printlogo {
        display: none;
    }
    .reverseprintlogo {
        display: block;
    }

    /*.stock {
        display: block;
        }*/
    .alignleft {
        float: left;
    }

    .alignright {
        float: right;
    }
    /*****Bootstrap override****/
    .table {
        width: 100%;
        max-width: 400px;
        margin-bottom: 1rem;
        font-size: 12px;
        min-width: 350px;
    }

    .col-md-3 {
        max-width: 22%;
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.55);
        max-width: 300px;
    }

    .btn {
        cursor: pointer;
    }

    .container {
        width: 90%;
        margin-left: 40px;
        margin-top: 20px;
    }

    .col-sm-12 {
        padding: 0px 0px;
    }

    .col-sm-9 {
        padding: 0px 10px;
    }

    .panel-heading {
        padding-left: 100px;
    }

    .pre-scrollable {
        max-height: 99%;
        max-width: 400px;
    }

    .table-sm th{
       
        background: #fff;
        color: black;
        font-weight: bold;
    }
    .table-sm td {
        background: #fff;
        color: black;
        
    }
    .table-sm tr {
        background: #fff;
        color: black;
            }

    p {
        margin-top: 0;
        margin-bottom: 2px;
    }
</style>

<link href="~/Content/printing.css" rel="stylesheet" />
<body style="background-image: url(../../Content/css/images//03.jpg); background-repeat: repeat; ">
    <div style="margin-top:5px; margin-bottom:10px; margin-left:100px">
        &nbsp;<a href="/Home/Index" class="btn btn-info" role="button"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a>
        <a href="/Account/Logout" class="btn btn-danger" role="button"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
    </div>
    <div class="panel-heading">
        <a href=""><img width="75%" src="~/Upload/Images/wow_food_new.jpg" alt=""></a>
    </div>

    <div class="panel panel-default">
        <div class="container">
            <div id="notprint" class="container">
                <div class="row">

                    @foreach (var product in ViewBag.ProductList)
                    {
                        <div class="col-md-3 item-border">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="control-label col-sm-1"><h6 id="name_@product.ProductCode" align="left">@product.ProductCode</h6></div>
                                    <div class="col-sm-9"><h6 id="pName_@product.ProductCode">@product.ProductName</h6></div>
                                </div>
                            </div>
                            <img class="item-image" src="@product.ImageUrl" />
                            @*<br> @*Blank Space*@
                            <div class="item-button">
                                <div class="col-sm-9"><h6 id="pID_@product.ProductCode">@product.Id</h6></div>
                                <button id="btn_@product.ProductCode" class="btn-xs" onclick="increase(this);">+</button>
                                <button id="btn_@product.ProductCode" class="btn-xs" onclick="decrease(this);">-</button>
                            </div>
                            <br> @*Blank Space*@
                            <div class="item-input">
                                <input class="form-control" id="price_@product.ProductCode" value="@product.SellingPrice" type="hidden" name="qty" />
                                <input class="form-control qty_box" id="@product.ProductCode" type="text" onfocus="this.select();" onkeypress="addata(event,this)" onchange="addata(event,this)" value="" name="qty" />
                                <br>
                            </div>
                            <br>
                        </div>
                    }

                </div><!-- End Of Row Div -->

            </div>

            @*<div class="table table-striped header-fixed">*@
            <div class="pre-scrollable" style="position:fixed;right:5px;top:0px;">
                <label id="token_no" style="font-size:30px;">Token No:@ViewBag.InvoiceNo</label>
                
                <div id="printableArea">
                    <div id="printLogo" class="printlogo" style="text-align:center">
                       
                        @*<img style="height:100px;width:350px;" src="~/Content/css/images/wow_food_logo.png" alt="" />*@
                        <div style="font-size:10px;text-align:center;">
                            <h1 id="token_no" style="font-size:30px; text-align:center;color:black;margin-top:0;">Token No:@ViewBag.InvoiceNo</h1>
                            <h2 style="font-size:20px; text-align:center; color:black;">WOW Food</h2>
                            <p style="text-align:center; color:black;">Hatir Jhil Begun Bari Parking Area</p>
                            <p style="text-align:center;margin-bottom:4px; color:black;">@DateTime.Now</p>
                        </div>
                    </div>

                    <table class="table-sm" id="productTable" border="1">
                        <thead>
                            <tr style="color:black;text-align:center;">
                                @*<th>Item</th>*@
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th class="stock">Stock</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="productBody" class="productBody" style="color:black;text-align:center;"></tbody>
                    </table>

                    <div>
                        <table class="table-sm"id="totalAmountSection">
                            <thead>
                                <tr class="table-active">
                                    <td style="font-weight:bold;" align="left">SubTotal:</td>
                                    <td id="totalAmount" style="font-weight:bold; text-align:right;"></td>
                                </tr>
                                @*<tr style="background-color:#9bebfa;">
                                                                <td style="font-weight:bold;" align="left">Service Charge:</td>
                                                                <td style="font-weight:bold; text-align:right">
                                                                    <input id="serviceCharge" type="text" value="0" style="text-align:right;    background-color:#9bebfa;
                                    border: none;" onkeypress="remainingAmount(event)" onfocus="this.select();" />
                                                                </td>
                                                            </tr>*@
                                <tr class="table-success">
                                    <td style="font-weight:bold;" align="left">Total Given:</td>
                                    <td class="reverseprintlogo" style="font-weight:bold; text-align:right; border-color:gainsboro;">
                                        <input id="givenAmount" type="text" value="0" style="font-weight:bold;text-align:right;background-color: #ffffff;
    border: none;" onkeypress="remainingAmount(event)" onfocus="this.select();" />
                                    </td>
                                    
                                    <td class="printlogo" id="givenAmountdiv" style="text-align:right;font-weight:bold;">0</td>
                                </tr>

                                <tr class="table-danger">
                                    <td style="font-weight:bold;" align="left">Return:</td>
                                    <td id="returnAmount" align="right" style="font-weight:bold; text-align:right"></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    
                    <div class="printlogo">
                        <footer style="font-size:9px;color:black;text-align:center;">YOUR SATISFACTION IS OUR MOTTO<br> THANK YOU COME AGAIN</footer>
                        <footer style="font-size:8px;color:black;">Printed By @ViewBag.username</footer>
                        <footer style="font-size:8px;color:black;">Powered By Shopno Code Software Ltd.</footer><br>
                    </div>
                </div> <!-- End Of Printing Div -->

                <br />
                <button class="btn btn-success" id="printsave" onclick="printDiv('printableArea');"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print & Save</button>
                <button class="btn btn-danger" id="justprint" onclick="justPrint('printableArea');"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</button>
                <button id="refresh" class="btn btn-primary" onclick="refresh();"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh</button>
                @*<button onclick="remainingAmount()">calculate</button>*@
            </div>
        </div>
    </div> <!-- End Of Panel Div -->
    <div id="textbox">
        <p class="alignleft" style="margin-left:100px;">&copy; @DateTime.Now.Year WOW Food</p>
        <p class="alignright" style="margin-right:460px;"><img src="~/Content/css/images/ShopnoCode.png" alt="Smiley face" height="40" width="96"></p>
    </div>
    <div style="clear: both;"></div>
</body>

<script>
    var invoiceno = '@ViewBag.InvoiceNo';
</script>
<script src="~/Scripts/Custom/AddSalesInvoice.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/alertify.min.js"></script>
