﻿@{
    ViewBag.Title = "Bill List";
}
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Bill List</h3>
    <div class="btn-add-partial">
        <a href="@Url.Action("AddSalesInvoice", "Sales")" class="btn btn-info" id="addBM">Add Bill</a>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>InvoiceNo</th>
                                    <th>Invoice Type</th>
                                    <th>Customer</th>
                                    <th>Created By</th>
                                    <th>Total Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.InvoiceList != null)
                                {
                                    foreach (var item in ViewBag.InvoiceList)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("AddInvoice", "Sales", new { billId = item.Id })">@item.InvoiceNo</a></td>
                                            <td>@item.PropertyName</td>
                                            <td>@item.PartyName</td>
                                            <td>@item.CreatedByName</td>
                                            <td>@item.GrandTotal</td>
                                            <td>
                                                <abbr title="Edit"><a href="@Url.Action("AddSalesInvoice", "Sales", new { billId = item.Id })" class="btn btn-default editBM" title="Edit"><i class="fa fa-pencil fa-fw"></i></a></abbr>
                                                <abbr title="Delete"><button onclick="ConfirmDelete(@item.Id,'DeleteInvoiceInfo')" class="btn btn-default editBM" title="Delete"><i class="fa fa-times"></i></button></abbr>
                                                <abbr title="Print">
                                                    <a target="_blank" onclick="Print(@item.Id)" class="btn btn-default printBill" title="Print"><i class="fa fa-print fa-fw"></i></a>
                                                </abbr>
                                                <abbr title="Print">
                                                    <a target="_blank" onclick="PrintChallan(@item.Id)" class="btn btn-default printBill" title="Print"><i class="fa fa-truck fa-fw"></i></a>
                                                </abbr>
                                                <abbr title="Print">
                                                    <a target="_blank" onclick="InvoiceShortPrint(@item.Id)" class="btn btn-default printBill" title="Print"><i class="fa fa-apple fa-fw"></i></a>
                                                </abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(function () {
            $('.dataTables').dataTable();
        });
        $(document).ready(function () {
            if ('@ViewBag.message' != '') {
                GetMessage('@ViewBag.message', 'success');
            }
            console.log('@ViewBag.message');

            function GetMessage(message, messageType) {
                //alert(message);
                if (messageType == 'error') {
                    alertify.error(message);
                }
                if (messageType == 'success') {
                    alertify.success(message);
                }
                if (messageType == 'warning') {
                    alertify.error(message);
                }
            }

        });

        $(document).ready(function () {

            $(document).on('focus', '.datefrom', function () {
                $('.datefrom').datepicker({ autoclose: true, dateFormat: "dd/MM/yy", maxDate: 0 }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                }).change(function () {
                    if ($('.dateto').val() != null && $('.dateto').val() !== "") {
                        var datefrom = new Date($('.datefrom').val());
                        var dateto = new Date($('.dateto').val());
                        if (datefrom > dateto) {
                            $('.dateto').val("");
                        }
                    }
                });
                //.datepicker("setDate", "0");

            });
            $(document).on('focus', '.dateto', function () {
                $('.dateto').datepicker({ autoclose: true, dateFormat: "dd/MM/yy", maxDate: 0 }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                }).change(function () {
                    if ($('.datefrom').val() != null && $('.datefrom').val() !== "") {
                        var datefrom = new Date($('.datefrom').val());
                        var dateto = new Date($('.dateto').val());
                        if (datefrom > dateto) {
                            $('.dateto').val("");
                        }
                    }
                });
                //.datepicker("setDate", "0");

            });
        });
    </script>
}
