﻿@model IEnumerable<ERP.INFRASTRUCTURE.StockViewModel>

@{
    ViewBag.Title = "Current Stock List";
}
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i>Current Stock List</h3>

</div>
<div class="printedobject" style="display: none">
    @Html.Raw(Json.Encode(Model))
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(x => x.ProductName)</th>
                                    <th>@Html.DisplayNameFor(x => x.Quantity)</th>
                                    <th>@Html.DisplayNameFor(x => x.Amount)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

        $(function () {
            $('.dataTables').dataTable();
        });


    </script>
}


