﻿@model ERP.INFRASTRUCTURE.PartialTemplate

<div class="addclass"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Register</h3>
            </div><!-- /.box-header -->
            @using (Html.BeginForm("Modify", "Template", FormMethod.Post))
            {

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">Template Name</div>
                            <div class="col-sm-6">
                                @Html.HiddenFor(i => i.Id)
                                @Html.TextBoxFor(i => i.TemplateName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">@Html.CheckBox("checkAll", new Dictionary<string, object> { { "onclick", "customtoggleCheck();" } }) Check All</div>
                        </div>
                        <div class="row">
                            @for (var i = 0; i < Model.PartialPermissions.Count; i++)
                            {
                                <div class="col-sm-3">
                                    @Html.CheckBoxFor(m => m.PartialPermissions[i].CheckboxStatus)
                                    @Model.PartialPermissions[i].Title
                                    @Html.HiddenFor(m => m.PartialPermissions[i].Id)
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><input type="submit" id="submit" name="submit" value="Save" class="btn btn-primary" /></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

