﻿@model ERP.INFRASTRUCTURE.Entity.PartialCurrency

<script>

    var formControl = {
        'IsSingle': true,
        'ControlStr': 'currency<prop>ID^CurrencyName^ShortName^Symbol^Country^ConversionRate'
    };
    var formValidate = { 'IsChecked': true, 'validateStr': "CurrencyName" };
    var formUrl = "Register";
    var redirectUrl = "/Currency/CurrencyList";
    var messageType = "notification";
</script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">X</button>
            <h3>Save Currency</h3>
        </div>
      
        <div class="modal-body">
            <div class="form-horizontal currency">
                <div class="addclass"></div>
                @Html.HiddenFor(model => model.ID)
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="control-label col-sm-4">Currency Name</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.CurrencyName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.CurrencyName)
                    </div>
                </div>

                <div class="row">
                    <div class="control-label col-sm-4">Short Name</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.ShortName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ShortName)
                    </div>
                </div>

                <div class="row">
                    <div class="control-label col-sm-4">Symbol</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Symbol, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Symbol)
                    </div>
                </div>

                <div class="row">
                    <div class="control-label col-sm-4">Country</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Country)
                    </div>
                </div>

                <div class="row">
                    <div class="control-label col-sm-4">Conversion Rate</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.ConversionRate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ConversionRate)
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" onclick="thirdPartySubmitter(formControl, formValidate, formUrl, redirectUrl, messageType)" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>