﻿<div class="panel-body">
    <div class="row" style="padding-left:30px">

        <div class="row">
            <div class="col-sm-2" style="padding-left: 0px !Important;padding-right: 5px !Important;">Start Date</div>
            <div class="col-sm-2" style="padding-left: 0px !Important;padding-right: 5px !Important;">End Date</div>
        </div>

        <div class="row inventorySearch">
            @*<div class="col-sm-2" style="padding-right: 5px !Important;">
                    @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.PartyList, "-- Select Model --", new { @class = "form-control" })
                </div>*@
            <div class="col-sm-2" style="padding-left: 0px !Important;padding-right: 5px !Important;">
                @Html.TextBoxFor(x => x.StartDate, "{0:dd/MMM/yyyy}", new { @class = "form-control datepicker", @readonly = "readonly" })
            </div>
            <div class="col-sm-2" style="padding-left: 0px !Important;">
                @Html.TextBoxFor(x => x.EndDate, "{0:d MMM yyyy}", new { @class = "form-control datepicker", @readonly = "readonly" })
            </div>
            <div class="col-sm-2">
                <input type="button" id="btnGenerate" value="Generate Report" onclick="GetReport();" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script>
    //$(document).ready(function () {
    //    console.log(buttonName);
    //    document.getElementById("btnGenerate").value = buttonName;
    //});
    (function () {
        // your page initialization code here
        // the DOM will be available here
        document.getElementById("btnGenerate").value = buttonName;
    })();
    function GetReport() {
        var searchObj = "";
        var pathname = window.location.pathname; // Replaces path only
        pathname = pathname.split('/');
        console.log(pathname);
        document.getElementById("myReport").src = "../../Report/ReportForm.aspx?ReportID=" + pathname[2] + "^" + searchObj;
    }
</script>
}

