﻿@{
    ViewBag.Title = "Index";
}

<div class="FlashMessage"></div>
<div class="row">
    <div class="col-md-6 col-md-offset-1" style="margin-top: 10px">
        <h2>Data Base Back Up</h2>
    </div>
    <div class="col-md-6 col-md-offset-1" style="margin-top: 10px">
        <button onclick="ConfirmBackUpOperation(0, 'DataBaseBackUp/DBBackUp', 'Are you sure you want to Take Back Up?')" class="btn btn-default editBM" title="Clear Data">
            <i class="fa fa-database"></i>Db Back Up
        </button>
    </div>

</div>

@*<div class="row">
    <div class="col-md-6 col-md-offset-1" style="margin-top: 10px">
        <button onclick="ConfirmOperation(0, 'DataBaseBackUp/ClearAllData', 'Are you sure you want to Take Back Up?')" class="btn btn-default editBM" title="Clear Data">
            <i class="fa fa-trash-o"></i>Clear All Data
        </button>
    </div>
    
</div>*@

@*@if (ViewData["Message"] == "success")
{<div>Data base Back Up successfully</div>}*@

<script>
    function ConfirmBackUpOperation(id, url,message) {
        console.log(id);
        console.log(url);
        alertify.confirm(message, function (e) {
            if (e) {
                // user clicked "ok"
                $.ajax({
                    data: { 'id': id },
                    type: 'GET',
                    cache: false,
                    url: url,
                    success: function (result) {
                        console.log(result);
                        alertify.success("Database BackUp Successfull.");
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            } else {
                // user clicked "cancel"
                return false;
            }
        });
    }
</script>

