﻿
<div class="form-con">
    <input type="button" id="btnGenerate" value="Generate Report" onclick="GetReport();" class="btn btn-info" />
    
</div>

@section scripts
{
<script>
    //$(document).ready(function () {
    //    console.log(buttonName);
    //    document.getElementById("btnGenerate").value = buttonName;
    //});
    (function () {
        // your page initialization code here
        // the DOM will be available here
        document.getElementById("btnGenerate").value = buttonName;
    })();
    function GetReport() {
        var searchObj = "";
        var pathname = window.location.pathname; // Replaces path only
        pathname = pathname.split('/');
        console.log(pathname);
        document.getElementById("myReport").src = "../../Report/ReportForm.aspx?ReportID=" + pathname[2] + "^" + searchObj;
    }
</script>
}

