﻿@model ERP.INFRASTRUCTURE.PartialUser
<script>
    var formControl = {
        'IsSingle': true,
        'ControlStr': 'param<prop>Id^UserName^TemplateId'
    };
    var controls = {
        'param': ['Id', 'UserName', 'TemplateId']
    };
    var formValidate = { 'IsChecked': true, 'validateStr': "UserName^TemplateId" };
    var formUrl = "Register";
    var redirectUrl = "/UserCommon/Register";
    var messageType = "notification";
</script>
<div class="addclass"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Register</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body form-horizontal param">
                <div class="form-group">
                    <label for="UserName" class="col-sm-2 control-label">User Name</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @id = "UserName", @placeholder = "User Name" })
                        @Html.HiddenFor(model => model.Id)
                        @*<input type="text" class="form-control" id="UserName" name="UserName" placeholder="User Name">*@
                        @*<input type="hidden" class="form-control" id="Id" name="Id" value="@ViewBag.UserId">*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="TemplateId" class="col-sm-2 control-label">Template Name</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.TemplateId, new SelectList(ViewBag.TemplateList, "Value", "Text"), new { @class = "form-control select2", @id = "TemplateId" })
                        @*<select class="form-control select2" id="TemplateId" name="TemplateId" style="width: 100%;">
                            @foreach (var cl in ViewBag.TemplateList)
                            {
                                <option value="@cl.Value">@cl.Text</option>
                            }
                        </select>*@
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-default" onclick="thirdPartySubmitter(formControl, formValidate, formUrl, redirectUrl, messageType)">Register</button>
                </div><!-- /.box-footer -->
            </div><!-- /.box-body -->
        </div>
    </div><!-- /.box -->
</div>
<!-- left column -->
