﻿@{
    ViewBag.Title = "Employee List";
}
<script>
    param = '';
    url = 'Register';
</script>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Employee List</h3>
    <div class="btn-add-partial">
        <button class="btn btn-info" onclick="PrintSalarySheet()">
            <i class="fa fa-print fa-fw"></i>Salary Sheet
        </button>
        
        <button class="btn btn-info" onclick="loadPartial(param,url)">Add Employee</button>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>                                    
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Department</th>
                                    <th>Location</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.EmployeeList.Count > 0)
                                {
                                    foreach (var employee in ViewBag.EmployeeList)
                                    {
                                        <tr>
                                            <td><a href="#" onclick="loadPartial(@employee.Id,url);">@employee.EmployeeCode</a></td>
                                            <td>@employee.EmployeeName</td>
                                            <td>@employee.Designation</td>                                        
                                            <td>@employee.Department</td>
                                            <td>@employee.Location</td>
                                            <td>
                                                @*<abbr title="Edit">
                                                        <button class="btn btn-default" onclick="loadPartial(@category.Id,url);"><i class="fa fa-pencil fa-fw"></i></button>
                                                    </abbr>*@
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@employee.Id,'Delete')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>
                                                <abbr title="Print">
                                                    <a target="_blank" onclick="PrintEmployee(@employee.Id)" class="btn btn-default printBill" title="Print"><i class="fa fa-print fa-fw"></i></a>
                                                </abbr>
                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>
