﻿@{
    ViewBag.Title = "Bank List";
}
<script>
    param = '';
    url = 'SaveBank';
</script>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Bank List</h3>
    <div class="btn-add-partial">
        <button class="btn btn-info" onclick="loadPartial(param,url);">Add Bank</button>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Account No</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.BankList != null)
                                {
                                    foreach (var item in ViewBag.BankList)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.AccountNo</td>
                                            <td>@item.Description</td>
                                            <td>
                                                <abbr title="Edit">
                                                    <button class="btn btn-default" onclick="loadPartial(@item.Id,url);"><i class="fa fa-pencil fa-fw"></i></button>
                                                </abbr>
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@item.Id,'DeleteBank')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>   
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

    $(function () {
        $('.dataTables').dataTable();
    });

    $('#addBank').on("click", function (e) {

        $('.PartialModalContainer').load(this.href, function () {
            $('.PartialModal').modal({
                keyboard: true
            }, 'show');

        });

        return false;

    });
    $('.editBank').on("click", function (e) {
        //alert();
        console.log(this.href);
        $('.PartialModalContainer').load(this.href, function () {
            $('.PartialModal').modal({
                keyboard: true
            }, 'show');

        });
        $(function () {
            $('.datepicker').datepicker({ autoclose: true, todayHighlight: true }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            });
        });
        return false;
    });

    $(document).on('click', '#closeModal', function () {
        // location.reload();
        window.location.replace('@Url.Action("BankList","Settings")');
    });

    
        $(document).ready(function () {

            $(document).on('focus', '.datepicker', function () {
                $(this).datepicker({ autoclose: true, todayHighlight: true,  dateFormat: "dd/MM/yy" }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });

            });

        });

        $(document).ajaxComplete(function () {
            var selectedCategory = $("#selectedCategory").val();
            console.log(selectedCategory);
            if (selectedCategory > 0 && $('#CategoryId').val() == selectedCategory) {
                $('select[name="CategoryId"]').val(selectedCategory).attr("selected", "selected");
            }
    });

    </script>
}




