﻿@model  ERP.INFRASTRUCTURE.InvoiceDetailViewModel

<tr id="@Model.Id" status="@Model.Status">
    @using (Html.BeginCollectionItem("InvoiceDetailsList"))
    {
        @Html.HiddenFor(m => m.Id, new { @id = "id" })
        @Html.HiddenFor(m => m.CreatedBy, new { @id = "created-by" })
        @Html.HiddenFor(m => m.CreatedDate, new { @id = "created-date" })
        @Html.HiddenFor(m => m.ModifiedBy, new { @id = "modified-by" })
        @Html.HiddenFor(m => m.ModifiedBy, new { @id = "modified-date" })
        @Html.HiddenFor(m => m.Status, new { @id = "status" })
        @Html.HiddenFor(m => m.BussinessId, new { @id = "business-id" })
        @Html.HiddenFor(m => m.InvoiceId, new { @id = "invoiceInfo-id" })
        @Html.HiddenFor(m => m.ProductId, new { @id = "product-id" })
        @Html.HiddenFor(m => m.PropertyId, new { @id = "Property-id" })
        @Html.HiddenFor(m => m.Quantity, new { @id = "product-quantity" })
        <td>@Html.LabelForModel(Model.ProductName)</td>
        <td class="textbox" np-key="textbox">@Html.TextBoxFor(m => m.ProductSerial, new { @id = "product-serial", @class = "form-control ProductSerial product-row-control ", @type = "text", @np_key = "ProductSerial" })</td>
        <td class="textbox" np-key="textbox">@Html.TextBoxFor(m => m.Warranty, new { @id = "warranty", @class = "form-control Warranty product-row-control ", @type = "number", @np_key = "Warranty" })</td>
        <td class="textbox" np-key="textbox">@Html.TextBoxFor(m => m.BuyingPrice, new { @id = "product-unit-price", @class = "form-control BuyingPrice product-row-control ", @type = "number", @min = "0", @np_key = "BuyingPrice", @onkeyup = "setProductTotal(this)" })</td>
        <td np-key="Quantity">@Html.LabelForModel(string.Format("{0:0.00}", Model.Quantity), new { @id = "product-quantity" })</td>
        <td np-key="TotalPrice">@Html.LabelForModel(string.Format("{0:0.00}", Model.TotalPrice), new { @id = "invoice-total-price" })</td>
        <td><button type="button" id="removeProductRow" class="btn btn-primary" onclick="removeDetailRow(this)">Remove</button></td>
    }
</tr>
