﻿<style>
    .modal-content {
        height: 60%;
        width: 65%;
        margin: 6% auto;
        padding: 2%;
    }
</style>
<!-- Modal -->
<div id="xcelModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Input Serial</h4>
            </div>
            <div class="form-group">
                <label for="email">waranty:</label>
                <input type="number" class="form-control" id="product-waranty">
            </div>
            <div class="form-group">
                <label for="pwd">Serial Numbers:</label>
                <textarea class="form-control" rows="5" id="product-serials"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addProductByserial('@ViewBag.url')">Load Products</button>
            </div>
        </div>
    </div>
</div>