﻿@{
    ViewBag.Title = "Category List";
}
<script>
    param = '';
    url = 'Register';
</script>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Category List</h3>
    <div class="btn-add-partial">
        <button class="btn btn-info" onclick="loadPartial(param,url)">Add Category</button>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.CategoryList.Count > 0)
                                {
                                    foreach (var category in ViewBag.CategoryList)
                                    {
                                        <tr>
                                            <td><a href="#" onclick="loadPartial(@category.Id,url);">@category.Name</a></td>
                                            <td>@category.Description</td>
                                            <td>
                                                @*<abbr title="Edit">
                                                    <button class="btn btn-default" onclick="loadPartial(@category.Id,url);"><i class="fa fa-pencil fa-fw"></i></button>
                                                </abbr>*@
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@category.Id,'Delete')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>