﻿@{
    ViewBag.Title = "Entry Book";
}
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> @ViewBag.Title</h3>
    <div class="btn-add-partial">
        <a href="@Url.Action("SavePurchaseEntry", "Purchase")" class="btn btn-default" id="addBM">New Purchase</a>
    </div>
</div>
<div class="panel-body minHeight">
    @*<div class="panel-form">
        <div style="margin-bottom: 10px; margin-top: 10px;">
            @using(Html.BeginForm("PurchaseEntryList", "Purchase",FormMethod.Get)){
                <div class="row">
                    <div class="col-md-4"> <label>Date From: </label>
                        @Html.TextBox("fromDate",null, new { @class = "form-control input-sm datefrom" })
                    </div>
                    <div class="col-md-4"><label>Date To: </label>
                        @Html.TextBox("toDate",null, new { @class = "form-control input-sm dateto" })
                    </div>
                </div>
                <input type="submit" value="Search" class="btn btn-primary input-sm" style="margin-top: 10px" />
                
            }
        </div>
    </div>*@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>InvoiceNo</th>
                                    <th>Invoice Type</th>
                                    <th>Supplier</th>
                                    <th>GrandTotal</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.BillList != null)
                                {
                                    foreach (var item in ViewBag.BillList)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("SavePurchaseEntry", "Purchase", new { billId = item.Id })" >@item.InvoiceNo</a>
                                            </td>
                                            <td>@item.PropertyName</td>
                                            <td>@item.PartyName</td>
                                            <td>@item.SubTotal</td>
                                            <td>
                                                <abbr title="Edit"><a href="@Url.Action("SavePurchaseEntry", "Purchase", new { billId = item.Id })" class="btn btn-default editBM" title="Edit"><i class="fa fa-pencil fa-fw"></i></a></abbr>
                                                <abbr title="Delete"><button onclick="ConfirmDelete(@item.Id,'DeleteInvoiceInfo')" class="btn btn-default editBM" title="Delete"><i class="fa fa-times"></i></button></abbr>

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/Custom/PurchaseEntryList.js"></script>
}
