﻿
@{
    ViewBag.Title = "Index";
}

<abbr title="Clear Data"><button onclick="ConfirmDelete(0, 'Truncate/TruncateData')" class="btn btn-default editBM" title="Clear Data"><i class="fa fa-times"></i>Clear Data</button></abbr>
<h2>Index</h2>

